body {
	height: 100vh;
	width: 100vh;
	background-color: #22282D;
}
.heading{
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: ubuntu;
}
.container {
	position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.feedback{
  font-size: 30px;
  color: white;
  font-family: ubuntu;
}
.start{
  font-family: ubuntu;
  height: 50px;
  width: 200px;
  margin-top: 60px;
  font-size: 20px;
}
#star{
  font-size: 15em;
  color: #F7ED01;
  margin: 2% 0%;
}