body{
	height: 100%;
}

.wrapper{
	width:100%;
	height:100%;
}

.leftContent {
	background-color: rgb(34,40,45);
	height: 100vh;
	padding: 2%;
}
.logoImg {
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 25px;
}
.shopName {
	color: #FBFBFB;
	font-weight: bold;
	text-align: center;
	font-family: ubuntu;
}
#userBox{
	margin-top: 7%;
}
.user{
	color: #ccc;
  font-family: ubuntu;
  width: 70%;
  float: left;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 7px;
}
#userName{
	font-weight: bold;
}
.admin {
	color: #B1B3B5;
	margin-left: 98px;
	font-size: 10px;
	text-decoration: none;
}
.rowBox{
	float: left;
	width: 100%;
	margin:2%;
}
.searchHead {
	color: #6E7275;
}
.searchicon {
	width: 5%;
}
.searchbar {
	background-color: #22282D;
	outline: none;
	border: none;
	color: #3C3F42;
	font-size: 11px;
}
.search1 {
	border-bottom: 2px solid #3C3F42;
}
.userGrp1{
	float: left;
	width: 100%;
	margin:2%;
	}
	.user1 {
		float: left;
    border-radius: 118px;
    width: 33px;
	}
	#userId1 {
		color: #ccc;
    font-family: ubuntu;
    width: 70%;
    float: left;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 7px;
	}
	.userGrp2{
	float: left;
	width: 100%;
	margin:2%;
	}
	.user2 {
		float: left;
    border-radius: 118px;
    width: 33px;
	}
	#userId2 {
		color: #ccc;
    font-family: ubuntu;
    width: 70%;
    float: left;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 7px;
	}
.rightUser{
	width: 40%
}
.score {
	width: 40%;
	float: left;
	font-family: ubuntu;
	color: #ccc;
	margin:2%;
}
.closeImg {
	width: 37%;
}
.escape {
	width: 8%;
	margin: 2%;
	float: left;
}
.main {
	color: #ED304B;
	width: 100%;
	float: left;
	margin: 2%;
	font-family: ubuntu;

}
.skillRate {
	color: #686D70;
	margin-top: 42px;
}
.skillDetail {
	width: 100%;
}
.skillDetailLeft {
	width: 60%;
	float: left;
	color: #C6C8C9;
}
.rating {
	width: 30%;
	float: left;
	color: #C6C8C9;
}
.ratingNum {
	position: absolute;
}
.stars {
	position: relative;
	float: right;
}
.logout {
	color: #B1B3B5;
	margin-left: 98px;
	font-size: 10px;
	text-decoration: none;
}
.search {
	width: 100%;
	margin:3%;
	float: left;
}
.scoreHead {
	color: #24292E;
}
#userName1 {
	color: black;
}

















